<!DOCTYPE HTML>
<!--
	ThoughtCloud
-->
<html>

<head>
	<title>ThoughtCloud</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/styles/assets/css/dashboard.css" />
	<noscript>
		<link rel="stylesheet" href="../static/styles/assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Intro -->
		<section id="intro" class="wrapper style1 fullscreen fade-up">
			<div class="inner">
                <div id="search" class="search">
                    <!-- Main -->
                    <div id="form" class="form">
                        <form method="POST">
                            <input name="search" style="width:50vw">
                            <input type="submit">
                        </form>
                    </div>
                </div>
            </div>
		</section>

	</div>

	<!-- Scripts -->
	<script src="../static/styles/assets/js/jquery.min.js"></script>
	<script src="../static/styles/assets/js/jquery.scrollex.min.js"></script>
	<script src="../static/styles/assets/js/jquery.scrolly.min.js"></script>
	<script src="../static/styles/assets/js/browser.min.js"></script>
	<script src="../static/styles/assets/js/breakpoints.min.js"></script>
	<script src="../static/styles/assets/js/util.js"></script>
	<script src="../static/styles/assets/js/main.js"></script>

</body>

</html>